./CudaBasics/exercises/tasks/jacobi_w_explicit_transfer/core.112724
./CudaBasics/exercises/tasks/jacobi_w_explicit_transfer/core.112684
./CudaMM/exercises/tasks/Cuda_MM_simple/core.125775
./CudaMM/exercises/tasks/Cuda_MM_simple/core.125807
./CudaMM/exercises/tasks/Cuda_MM_simple/core.125775
./CudaMM/exercises/tasks/Cuda_MM_simple/core.125807
./CudaBasics/exercises/tasks/jacobi_w_explicit_transfer/core.112724
./CudaBasics/exercises/tasks/jacobi_w_explicit_transfer/core.112684
./CudaBasics/exercises/tasks/jacobi_w_explicit_transfer/core.112724
./CudaBasics/exercises/tasks/jacobi_w_explicit_transfer/core.112684
./CudaMM/exercises/tasks/Cuda_MM_simple/core.125775
./CudaMM/exercises/tasks/Cuda_MM_simple/core.125807
